@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {background-color: whitesmoke; }

.titulo h1 {position: absolute;
width: 541.92px;
height: 70.52px;
left: calc(50% - 541.92px/2 + 0.46px);
top: 49.66px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
text-align: center;

color: #000000;}

.foto1 {position: absolute;
width: 651px;
height: 282px;
margin-left: calc(50% - 651px/2);
margin-top: 170px;}

.paper h2 {position: absolute;
width: 101px;
height: 39px;
left: 189px;
top: 128px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;

color: #000000;
}

.proyecto h2 {position: absolute;
width: 160px;
height: 37px;
left: 680px;
top: 130px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
;
}

.vinculacion h2 {position: absolute;
width: 212px;
height: 38px;
left: calc(50% - 212px/2 - 220.5px);
top: 460px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;}

.conclusion h2 {position: absolute;
width: 197px;
height: 38px;
left: calc(50% - 197px/2 + 226px);
top: 460px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;}

.pie h6 { position: absolute;
width: 551px;
height: 48px;
left: calc(50% - 551px/2);
top: 500px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
text-align: center;
}


.uno h2 {position: absolute;
width: 518px;
height: 104px;
left: calc(50% - 518px/2 + 0.5px);
top: 716px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #D9D9D9;}

.porp h3 {position: absolute;
width: 202px;
height: 32px;
left: calc(50% - 202px/2 + 0.5px);
top: 907px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #D9D9D9;}


.dos h4 {position: absolute;
width: 334px;
height: 56px;
left: calc(50% - 311px/2);
top: 979px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}


.tres h4 {position: absolute;
width: 311px;
height: 94px;
left: calc(50% - 311px/2);
top: 1100px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000; }


.cuatro h4 {position: absolute;
width: 333px;
height: 119px;
left: calc(50% - 311px/2);
top: 1267px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}


.cinco h2 {position: absolute;
width: 244px;
height: 90px;
left: calc(50% - 244px/2 + 0.5px);
top: 1496px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 31px;
text-align: center;

color: #D9D9D9;}



.seis h4 {position: absolute;
width: 314px;
height: 94px;
left: 115px;
top: 1647px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}

.siete h4 {position: absolute;
width: 339px;
height: 147px;
right: 138px;
top: 1826px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
text-align: right;

color: #000000;}

.ocho h4 {position: absolute;
width: 294px;
height: 108px;
left: 105px;
top: 2189px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}



.nueve h4 {position: absolute;
width: 302px;
height: 240px;
left: 113px;
top: 2390px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}

.diez h4 {position: absolute;
width: 242px;
height: 131px;
left: 662px;
top: 2499px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
text-align: right;

color: #000000;}

.once h2 {position: absolute;
width: 216px;
height: 40px;
left: calc(50% - 216px/2 + 0.5px);
top: 2794px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 34px;

color: #D9D9D9;}




.doce h2 {position: absolute;
width: 277px;
height: 45px;
left: calc(50% - 277px/2);
top: 2948px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 39px;

color: #D9D9D9;}


.trece h4 {position: absolute;
width: 209px;
height: 324px;
left: calc(50% - 209px/2);
top: 3043px;

font-family: 'Roboto';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}

.catorce h2 {position: absolute;
width: 111px;
height: 37px;
left: calc(50% - 111px/2);
top: 3605px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;

color: #D9D9D9;
}

.quince h4 {position: absolute;
width: 363px;
height: 88px;
left: 70px;
top: 3734px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}


.dieciseis h4 {position: absolute;
width: 271px;
height: 109px;
left: 688px;
top: 3927px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
text-align: right;

color: #000000;}



