@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {background-color: #000000; }

.titulo h1 {position: absolute;
width: 541.92px;
height: 70.52px;
left: calc(50% - 541.92px/2 + 0.46px);
top: 49.66px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
text-align: center;

color: #D9D9D9;}

.foto1 {
width: 6500px;
height: 289px;
margin-left: calc(50% - 651px/2);
margin-top: 190px;}



.paper h2 {position: absolute;
width: 160px;
height: 37px;
left: calc(50% - 212px/2 - 220.5px);
top: 128px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;

color: #D9D9D9;
}

.proyecto h2 {position: absolute;
width: 160px;
height: 37px;
left: calc(50% - 120px/2 + 226px);
top: 130px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;color: #D9D9D9;
;
}

.vinculacion h2 {position: absolute;
width: 160px;
height: 38px;
left: calc(50% - 212px/2 - 220.5px);
top: 460px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;color: #D9D9D9;}

.conclusion h2 {position: absolute;
width: 160px;
height: 38px;
left: calc(50% - 197px/2 + 226px);
top: 460px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;color: #D9D9D9;}

.pie h6 { position: absolute;
width: 551px;
height: 48px;
left: calc(50% - 551px/2);
top: 500px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #D9D9D9;
}


.uno h2 { background-color: black;
position: absolute;
width: 800px;
height: 104px;
left: calc(50% - 800px/2);
top: 717px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align: center;
background-color: #1E1E1E;
color: #D9D9D9;
padding-top: 20px;}

.porp h3 {background-color: black;
position:relative;
width: 800px;
height:550px;
left:calc(50% - 800px/2);
top: 380px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #D9D9D9;}


.dos h4 {background-color: whitesmoke;
position: absolute;
width: 334px;
height: 90px;
left: calc(50% - 340px/2);
top: 930px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
padding: 20px;
color: #000000;}


.tres h4 {background-color: whitesmoke;
position: absolute;
width: 334px;
height: 100px;
left: calc(50% - 340px/2);
top: 1100px;
padding: 20px; 
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
color: #000000; }


.cuatro h4 {background-color: whitesmoke;
position: absolute;
width: 333px;
height: 119px;
left: calc(50% - 340px/2);
top: 1267px;
padding: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}

#foto2  {
float: left;
position: absolute;    
margin-left: calc(50% - 800px/2);
margin-top: 0px;
top: 950px;
}

#foto3  {
float: left;
position: absolute;    
margin-left: calc(50% - 800px/2);
margin-top: 0px;
top: 1250px;
}
#foto4  {
float: left;
position: absolute;    
margin-left: calc(50% + 430px/2);
margin-top: 0px;
top: 950px;
}
#foto5  {
float: left;
position: absolute;    
margin-left: calc(50% + 430px/2);
margin-top: 0px;
top: 1120px;
}
#foto6  {
float: left;
position: absolute;    
margin-left: calc(50% + 430px/2);
margin-top: 0px;
top: 1297px;
}

.cinco h2 {
position: relative;
width: 820px;
height: 1200px;
left: calc(50% - 800px/2);
top: 450px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 31px;
text-align: center;
color: #D9D9D9;}







.seis h4 {background-color: whitesmoke;
position: absolute;
width: 314px;
height: 94px;
left:calc(50% - 800px/2);
top: 1647px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
padding: 30px;
color: #000000;}

.siete h4 {background-color: whitesmoke;
position: absolute;
width: 339px;
height: 147px;
right: calc(50% - 820px/2);
top: 1826px;
padding: 30px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
color: #000000;}

#foto7  {
float: left;
position: absolute;    
margin-left: calc(50% + 10px/2);
margin-top: 0px;
top: 1667px;
}
#foto8  {
float: left;
position: absolute;    
margin-left: calc(50% - 820px/2);
margin-top: 0px;
top: 1845px;
}
#foto9  {
float: left;
position: absolute;    
margin-left: calc(50% + 7px/2);
margin-top: 0px;
top: 2070px;
}
#foto10  {
float: left;
position: absolute;    
margin-left: calc(50% + 380px/2);
margin-top: 0px;
top: 2240px;
}
#foto11  {
float: left;
position: absolute;    
margin-left: calc(50% + 500px/2);
margin-top: 0px;
top: 2070px;
}

.ocho h4 {background-color: whitesmoke;
position: absolute;
width: 314px;
height: 94px;
left: calc(50% - 800px/2);
top: 2050px;
padding: 30px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}



.nueve h4 {background-color: whitesmoke;
position: absolute;
width: 302px;
height: 280px;
left: calc(50% - 800px/2);
top: 2220px;
padding: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
color: #000000;}

.diez h4 {background-color: whitesmoke;
position: absolute;
width: 170px;
height: 280px;
left: calc(50% - 65px/2);
top: 2220px;
padding: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;}


.once h2 {background-color: dimgrey;
position: absolute;
width: 800px;
height: 60px;
left: calc(50% - 800px/2);
top: 2750px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 34px;
padding: 20px;
padding-top: -20px;
color: #D9D9D9;}






.doce h2 {background-color: black;
position: relative;
width: 800px;
height: 550px;
left: calc(50% - 800px/2);
top: 600px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #D9D9D9;}


.trece h4 {background-color: whitesmoke;
position: absolute;
width: 200px;
height: 400px;
left: calc(50% - 250px/2);
top: 3000px;
padding: 28px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 17px;
line-height: 18px;
color: #000000;
}
#soso1 {
float: left;
position: absolute;    
margin-left: calc(50% - 1000px/2);
margin-top: 0px;
position: absolute;
width: 277px;
height: 166px;
left: 59px;
top: 3021px;
}

#soso2 {position: absolute;
float: left;
margin-left: calc(50% - 1000px/2);
margin-top: 0px;
width: 277px;
height: 170px;
left: 59px;
top: 3304px;
}

#soso3 {position: absolute;
float: right;
margin-left: calc(50% - -220px/2);
margin-top: 0px;
width: 277px;
height: 170px;
left: 59px;
top: 3304px;
}

#soso4 {position: absolute;
float: right;
margin-left: calc(50% - -220px/2);
margin-top: 0px;
width: 277px;
height: 170px;
left: 59px;
top: 3021px;
}

color: #000000;}

.catorce h2 {background-color:black ;
position: relative;
width: 800px;
height: 550px;
top: 900px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
text-align: center;
color: #D9D9D9;
}

#coca1 {margin-left: calc(50% - 1020px/2);
margin-top: 188px;
position: absolute;
left: 468px;
top: 3398px;
height: 160px;}

#coca2 {position: absolute;
left: 699px;
top: 3398px;
margin-top: 190px;
margin-left: calc(50% - 960px/2);}

#coca3 {position: absolute;
left: 368px;
top: 3591px;
margin-top:168px;
margin-left: calc(50% - 890px/2);
}

#coca4 {position: absolute;
left: 368px;
top: 3591px;
margin-top:168px;
margin-left:calc(50% - 330px/2);
height: 173px;
width: 260px;
}





.quince h4 {background-color: whitesmoke;
position: absolute;
width: 340px;
height: 100px;
left: calc(50% - 750px/2);
top: 3600px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
color: #000000;
margin-left: -80px;
padding: 30px;
margin-top: -15px}


.dieciseis h4 {background-color: whitesmoke;
position: absolute;
width: 300px;
height: 110px;
left:  calc(50% - 1px/2);
top: 3800px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
color: #000000;
margin-left: -450px;
padding: 30px;
margin-top: -40px}



.diecisiete h2 {background-color: black;
position: absolute;
width: 800px;
height: 45px;
left: calc(50% - 800px/2);
top: 4100px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #D9D9D9;
}

.diecisietedos h3 {background-color: black;
position: absolute;
width: 400px;
height: 45px;
left: calc(50% - 900px/2);
top: 4200px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 44px;
text-align: center;

color: #D9D9D9;
}

.diesiocho h4 {background-color: whitesmoke;
position: absolute;
width: 350px;
height: 160px;
left:  calc(50% - 1px/2);
top: 4400px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
color: #000000;
margin-left: -450px;
padding: 30px;
margin-top: -40px}


.diesinueve h4 { background-color: whitesmoke;
position: absolute;
width: 500px;
height: 312px;
top: 4278px;
background: #D9D9D9;
position: absolute;
width: 350px;
height: 300px;
top: 4580px;
left: 270px;
padding: 30px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
margin-left: 39px;

color: #000000;}


.veinte h3 {
position: absolute;
width: 400px;
height: 45px;
left: calc(50% + 100px/2);
top: 4200px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 44px;
text-align: center;

color: #D9D9D9;
}


.veintiun h4 {position: absolute;
width: 445px;
height: 314px;
left: 750px;
top: 4064px;

background: #D9D9D9;
position: absolute;
width: 403px;
height: 233px;
left: 780px;
top: 4330px;
padding: 30px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;}

.alcance {position: absolute;
width: 500px;
height: 22px;
left: calc(50% - 278px/2 - 6.5px);
top: 5000px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 24px;

color: #D9D9D9;}

.eldiseño {position: absolute;
width: 94px;
height: 22px;
left: calc(50% - 700px/2);
top: 5039px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;

color: #D9D9D9;}

.cultura {position: absolute;
width: 76px;
height: 22px;
left: calc(50% + 350px/2);
top: 5039px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;

color: #D9D9D9;}

.eldiseño2 { background: #D9D9D9;
position: absolute;
width: 315px;
height: 99px;
left: 90px;
top: 5070px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
width: 375px;
height: 100px;
left: 300px;
padding: 30px;
color: #000000;}

.cultura2 {position: absolute;
width: 445px;
height: 314px;
left: 750px;
top: 5070px;

background: #D9D9D9;
position: absolute;
width: 403px;
left: 780px;
top: 5070px;
padding: 30px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
}

.conocimientos{position: absolute;
width: 400px;
height: 22px;
left: calc(50% - 900px/2);
top: 5300px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;

color: #D9D9D9;}

.conocimientos2 { background: #D9D9D9;
position: absolute;
width: 315px;
height: 300px;
left: 90px;
top: 5350px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 18px;
width: 375px;
height: 230px;
left: 300px;
padding: 30px;
color: #000000;}

.conclusion1 {position: absolute;
width: 500px;
height: 22px;
left: calc(50% - 100px/2 - 6.5px);
top: 5700px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 24px;

color: #D9D9D9;}

.conclusion2 {background-color: whitesmoke;
position: absolute;
width: 400px;
height: 400px;
left: calc(50% - 450px/2);
top: 5750px;
padding: 28px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 17px;
line-height: 18px;
color: #000000;
}

#ppp {float: right;
position: absolute;
top: 4700px;
left: 800px}

#pppp {float: right;
position: absolute;
top: 4700px;
left: 1050px}



